<template>
  <div class="container">
    <h1>Templates</h1>
    <h3>Informations personnelles</h3>
    <form action="">
      <div class="row">
        <div class="form-group col-md-2 col-lg-5">
          <label for="nom">Nom :</label>
          <input type="text" class="form-control" v-model="formData.nom" />
        </div>

        <div class="form-group col-md-2 col-lg-5">
          <label for="prenom">Prenoms :</label>
          <input
            type="text"
            class="form-control"
            id="prenom"
            v-model="formData.prenoms"
          />
        </div>
        <div class="form-group col-md-2 col-lg-5">
          <label for="adresse">Adresse :</label>
          <input
            type="text"
            class="form-control"
            id="adresse"
            v-model="formData.addresse"
          />
        </div>
        <div class="form-group col-md-2 col-lg-5">
          <label for="mail">Email :</label>
          <input
            type="email"
            class="form-control"
            id="mail"
            v-model="formData.email"
          />
        </div>

        <div class="form-group col-md-2 col-lg-5">
          <label for="tel">Telephone</label>
          <input
            type="text"
            id="tel"
            class="form-control"
            v-model="formData.phone"
          />
        </div>
        <div class="form-group col-md-2 col-lg-5">
          <label for="propos">A Propos :</label>
          <textarea class="form-control" v-model="formData.aPropos"></textarea>
        </div>
      </div>
      <h3 class="mt-3">Diplome</h3>
      <div class="row">
        <div class="row col-md-2 col-lg-5">
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th>Année Scolaire</th>
                  <th>Education</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <select v-model="formData.education.date">
                      <option :key="index" v-for="(annee, index) in annees">
                        {{ annee }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input type="text" v-model="formData.education.education" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <button
                      class="btn btn-primary"
                      @click.prevent="creerDiplome"
                    >
                      Save
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row col-md-2 col-lg-5">
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th>Année</th>
                  <th>Experience</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <select v-model="formData.experience.date">
                      <option v-for="(annee, index) in annees" :key="index">
                        {{ annee }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input
                      type="text"
                      v-model="formData.experience.experience"
                    />
                  </td>
                </tr>
                <tr>
                  <td>
                    <button
                      class="btn btn-primary"
                      @click.prevent="creerExperience"
                    >
                      Save
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-5">
          <ul>
            <li :key="index" v-for="(education, index) in tableauEducation">
              <diplome
                :id="index"
                :date="education.date"
                :education="education.education"
                :suppressionEduc="suppressionEduc"
              ></diplome>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-lg-5">
          <ul>
            <li :key="index" v-for="(experience, index) in tableauExperience">
              <experience
                :id="index"
                :date="experience.date"
                :experience="experience.experience"
                :suppressionExp="suppressionExp"
              ></experience>
            </li>
          </ul>
        </div>
        <pic></pic>
      </div>
    </form>

    <cv
      :printToPdf="printToPdf"
      :nom="formData.nom"
      :prenoms="formData.prenoms"
      :email="formData.email"
      :addresse="formData.addresse"
      :phone="formData.phone"
      :aPropos="formData.aPropos"
      :educ="tableauEducation"
      :exp="tableauExperience"
    ></cv>
  </div>
</template>
<script>
import Diplome from "../Diplome.vue";
import Experience from "../Experience";
import Cv from "../Cv";
import Picture from "../Picture";
import html2canvas from "html2canvas";
import jsPDF from "jspdf";
("use strict");
export default {
  name: "Templates",
  data() {
    return {
      formData: {
        nom: "",
        prenoms: "",
        email: "",
        addresse: "",
        phone: "",
        aPropos: "",
        education: {
          date: "",
          education: "",
        },
        experience: {
          date: "",
          experience: "",
        },
      },

      tableauExperience: [],
      tableauEducation: [],
      annees: [
        "2000-2001",
        "2001-2002",
        "2002-2003",
        "2003-2004",
        "2004-2005",
        "2005-2006",
        "2006-2007",
        "2007-2008",
        "2008-2009",
        "2009-2010",
        "2011-2012",
        "2012-2013",
        "2013-2014",
        "2014-2015",
        "2015-2016",
        "2016-2017",
        "2017-2018",
        "2018-2019",
        "2019-2020",
        "2020-2021",
        "2021-2022",
      ],
    };
  },
  methods: {
    creerDiplome: function () {
      this.tableauEducation.push(this.formData.education);
      this.formData.education = {};
    },
    creerExperience: function () {
      this.tableauExperience.push(this.formData.experience);
      this.formData.experience = {};
    },

    suppressionExp: function (e) {
      console.log(e.target.parentNode.id);
      this.tableauExperience.splice(e.target.parentNode.id, 1);
    },
    suppressionEduc: function (e) {
      console.log(e.target.parentNode.id);
      this.tableauEducation.splice(e.target.parentNode.id, 1);
    },
    printToPdf() {
      window.html2canvas = html2canvas;
      var doc = new jsPDF("p", "pt", "a4");
      doc.html(document.querySelector("#banner-cv"), {
        callback: function (pdf) {
          pdf.save("cv.pdf");
        },
      });
    },
  },
  components: {
    diplome: Diplome,
    experience: Experience,
    cv: Cv,
    pic: Picture,
  },
};
</script>
<style scoped>
h1 {
  margin-top: 80px;
}
</style>
