<template>
  <div class="container">
    <h1>Why Choose Us</h1>
    <section class="presentation">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui maxime
        reprehenderit dicta cum suscipit, fugiat blanditiis nulla beatae
        officia. Numquam animi in explicabo quasi praesentium modi consectetur
        rerum odit itaque?
      </p>
    </section>
    <section id="service">
      <div class="container">
        <div class="flex">
          <div>
            <font-awesome-icon icon="desktop" />
            <h4>Trouver un Template Ideale</h4>
            <p>Templates</p>
          </div>
          <div>
            <font-awesome-icon icon="edit" />

            <h4>Generation d'un PDF</h4>
            <p>Pdf Generator</p>
          </div>
          <div>
            <font-awesome-icon icon="file" />

            <h4>Vente d'un Template</h4>
            <p>Vente de Template</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import $ from "jquery";

export default {
  name: "Contenu",

  mounted() {
    $(document).ready(function () {
      $(".svg-inline--fa").hover(
        function () {
          $(this).css("color", "#e84e4e");
        },
        function () {
          $(this).css("color", "");
        }
      );
      $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll > 257) {
          $("#service").addClass("slide-top");
        } else {
          $("#service").removeClass("slide-top");
        }
      });
    });
  },
};
</script>

<style scoped>
.container > h1 {
  padding-top: 80px !important;
  text-align: center;
  color: rgb(218, 105, 105);
}
h3 {
  text-decoration: underline;
}
li {
  list-style: none;
}
.presentation {
  margin: 0px 10px 30px 10px;
  text-align: center;
}
#service {
  padding: 3rem 0;
  background: #f8f9fa;
  text-align: center;
}
#service h2 {
  margin-bottom: 3rem;
}
#service .flex > div {
  display: inline-block;
  width: 30%;
}
#service h4 {
  color: #e84e4e;
  margin-top: 1rem;
}
.svg-inline--fa {
  color: #888a8b;
  font-size: 50px;
}
.svg-inline--fa > p {
  font-family: "Times New Roman", Times, serif;
  line-height: 22px;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-9 15:40:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
</style>
