<template>
  <div>
    <h3>Template de votre CV (Template par défaut)</h3>
    <div id="banner-cv"  class="banner-cv" style="border:1px solid black;">
      <div>
        <table  class="pdf-cv">
            <tr>
                <td style="width:20%">
                    <div style="margin: 20px;" class="left-side">
                        <img :src="urlImage" class="img-cv" />
                        <p class="nom-cv">{{ nom }}</p>
                        <p class="prenom-cv ">{{ prenoms }}</p>
                        <p class="title-cv"> Addresse</p>
                        <p>{{ addresse }}</p>
                        <p class="title-cv">Telephone</p>
                        <p>{{ phone }}</p>
                        <p class="title-cv">E-mail</p>
                        <p> {{ email }}</p>

                    </div>

                </td>
                <td style="width=80%">

                   <div >
                      <ul>
                        <li class="infos">
                            <p style="padding-left: 1.8rem;margin-top:-13px" >A PROPOS DE MOI</p>
                        </li>
                        <div style="width:600px;display:flex;flex-wrap:wrap;"><div style="padding-right: 230px;padding-left: 30px;" class="a-propos">{{ aPropos}}</div></div>
                        <li class="infos"><span style="padding-left: 50px;">EDUCATION</span></li>
                        <p>
                        <ul v-for="(education,index) in educ" :key="index">
                            <li><span style="padding-left: 30px;">{{education.date +'  '+education.education}}</span></li>
                        </ul>
                        </p>
                        <li class="infos"><span style="padding-left: 50px;">EXPERIENCES</span></li>
                        <p>
                        <ul v-for="(experience,index) in exp" :key="index">
                            <li><span style="padding-left: 30px;">{{ experience.date +'  '+experience.experience}}</span></li>
                           
                        </ul>
                        </p>
                        <li class="infos"><span style="padding-left: 50px;">COMPETENCES</span></li>
                    </ul>
                   </div>

                </td>
            </tr>
        </table>
    </div>
    </div>
      <button  class="btn btn-primary" v-on:click="printToPdf">Print to PDF</button>

  </div>
</template>
<script>
export default {
  name: "Cv",
  data() {
    return {
      urlImage:
        "https://images.unsplash.com/photo-1637342751153-489128f4e9ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60",
     
    };
  },
  props:['printToPdf','nom','prenoms','email','phone','aPropos','addresse','educ','exp'],
   
};
</script>
<style scoped>
h3{
  margin-top: 40px;
}
.banner-cv{
  font-size: 10px;
  height: 8.76in;
  width: 8.5in;
  display: flex;
  align-items: center;
}
.nom-cv {
  margin-top: 10px;
  font-size: 29px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.prenom-cv {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin-top: -12px;
}

.img-cv {
  height: 140px;
  width: 140px;
  background: red;
}

.pdf-cv {
  padding: 70px 20px 20px 50px;
  color: black;
  justify-content: center;
  align-content: center;
}

.title-cv {
  font-weight: bold;
  letter-spacing: 0.5px;
  display:inline-block;
  border-bottom:1px solid black;
}

.infos {
  font-weight: bold;
  letter-spacing: 1px;
}
.a-propos{
  letter-spacing: 0.3px;
}
ul {
  border-left: 2px solid black;
  list-style: none;
  padding: 10px 20px;
}
li::before {
  content: "o";
  color: black;
  display: inline-block;
  margin-left: -2.5em;
  z-index: 10;
  background:white;
}
span{
  letter-spacing: 0.5px;
} 
.btn{
  margin: 20px;
}
</style>
