<template>
  <div class="card my-2 item-todo">
    <p>{{ date }} {{ education }}</p>
    <div class="btn-supr btn btn-danger" @click="suppressionEduc">X</div>
  </div>
</template>
<script>
export default {
  name: "Diplome",
  data() {
    return {};
  },
  props: ["education", "date", "suppressionEduc"],
};
</script>
<style scoped>
.item-todo {
  position: relative;
  padding: 20px 60px 20px 30px;
  font-size: 20px;
  height: 88px;
}
.btn-supr {
  position: absolute;
  top: 10px;
  right: 10px;
}
.item-todo p {
  margin-bottom: 0 !important;
}
</style>
