<template>
  <div class="header-top">
    <nav class="navbar">
      <div class="titre">
        <router-link to="/">
          <p>{{ titre }}</p></router-link
        >
      </div>
      <ul>
        <li>
          <router-link to="/" exact>Accueil</router-link>
        </li>
        <li>
          <router-link to="/Templates">Templates</router-link>
        </li>
        <li><router-link to="/Services">Service</router-link></li>
        <li><router-link to="/About">About</router-link></li>
      </ul>
    </nav>
    <div>
      <p class="">Lorem4</p>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  name: "Header",
  data() {
    return {
      titre: "CV Writer",
    };
  },
  mounted() {
    $(document).ready(function () {
      $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll > 100) {
          $(".navbar").css("background", "white");
        } else {
          $(".navbar").css("background", "");
        }
      });
    });
  },
};
</script>

<style scoped>
.header-top {
  width: 100%;
  height: 100vh;
  background: url("~@/assets/images/img.jpg") no-repeat center center fixed;
  background-size: cover;
}
.navbar ul li {
  display: inline-block !important;
  margin: 15px;
}
.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgb(82, 81, 81);
}

a {
  text-decoration: none;
  color: rgb(218, 105, 105);
}
.router-link-active {
  color: rgb(49, 118, 207);
}
.titre > a > p {
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: aliceblue;
  text-shadow: red 4px 4px 10px, blue 5px 5px 10px;
}
</style>
